<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
        <property name="hibernate.connection.username">lib</property>
        <property name="hibernate.connection.password">lib</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
 		<property name="hbm2ddl.auto">insert</property>
		<property name="show_sql">true</property>
		<mapping class="com.pack.mylib.pojo.Employee" />
		<mapping class="com.pack.mylib.pojo.Student" />
		<mapping class="com.pack.mylib.pojo.Author" />
		<mapping class="com.pack.mylib.pojo.Publisher" />
		<mapping class="com.pack.mylib.pojo.Isbn_details" />
		<mapping class="com.pack.mylib.pojo.Book_details" />
		<mapping class="com.pack.mylib.pojo.IssueOrReturn" />
		
		

	</session-factory>

</hibernate-configuration>